@{
    ViewData["Title"] = "File System";
}

<h1 class="text-center text-primary my-4">File Data</h1>
<div
    class="table-responsive mt-5"
>
    <table
        class="table table-hover table-borderless table-dark align-middle"
    >
        <thead class="table-dark text-center">
            <tr>
                <th>File Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr class="table-light text-center">
                <td>Item</td>
                <td>Item</td>
            </tr>
            <tr class="table-light text-center">
                <td>Download</td>
                <td>Details</td>
            </tr>
        </tbody>
    </table>
</div>
